@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.quote-class{
  width: 50%;
 display: block;
 margin-left: auto;
 margin-right: auto;
 margin-top: 100px;
 padding: 1%;
 background-color: white;
 
}
.next-quote-button{
  border: none;
  padding: 15px 32px;
  text-align: center; 
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin-left:auto;
}
.quote-text{
  font-style: italic;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}
.author{
  font-weight: 200;
  text-align: end;
}
